body
{
	margin: auto;
    font-size: 16px;
    min-width: 250px;
    font-family: "Times New Roman", Arial, Verdana, sans-serif;
}

/*  Début header  */
#title-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgb(51, 51, 51);
    color: white;
    height: 50px;
}

#title-container
{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* nom du blog */
#title-container p
{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
}

/* Début menu */
#menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 100%;
}

/* font awesome barres */
#open-menu
{
    display: none;
    cursor: pointer;
}

/* font awesome croix */
#close-menu
{
    display: none;
    cursor: pointer;
}

#menu li
{
    border-left: 1px dashed white;
}

/* font awesome livre */
.fa-book
{
    padding-right: 8px;
}

#menu li a
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    min-width: 110px;
    height: 50px;
    font-size: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#menu li a:hover
{
    -webkit-box-shadow: 0px 5px 0px 0px rgb(175, 206, 207);
            box-shadow: 0px 5px 0px 0px rgb(175, 206, 207);
}

#opaque-window
{
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Début fenêtre se connecter */
#seConnecter
{
    display: none;
    position: fixed;
    z-index: 9999;
    background-color: white;
    color: black;
    border: 1px solid rgb(51, 51, 51);
    border-top: 8px solid rgb(51, 51, 51);
    border-bottom: 8px solid rgb(51, 51, 51);
    border-radius: 4px;
    top: 50%; 
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 15px;
    height: auto;
    width: 350px;
    font-size: 18px;
}

/* icône croix */ 
#close-window-login
{
    position: absolute;
    top: 0px;
    right: 4px;
    cursor: pointer;
    color: rgb(51, 51, 51);
}

#seConnecter #pseudoConnect, #seConnecter #passwordConnect
{
    border: 1px solid rgb(190, 190, 190);
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#seConnecter input[type="submit"]
{
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 3px rgb(51, 51, 51);
            box-shadow: 0px 3px 3px rgb(51, 51, 51);
}

#seConnecter input[type="submit"]:hover
{
    background-color: rgb(175, 206, 207);
}

/* Message : "Pseudo ou mot de passe incorrect" */
#pseudo-pass-alert
{
    color: red;
}
/* Fin fenêtre se connecter */
/* Fin menu */
/* Fin header */

/* Début $content */
.section-one, #formulaireInscription
{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
}

.section-one h1, #formulaireInscription h1
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    border-top: 6px solid rgb(51, 51, 51);
    border-bottom: 6px solid rgb(51, 51, 51);
    border-right: 2px dashed rgb(51, 51, 51); 
    border-left: 2px dashed rgb(51, 51, 51); 
    padding: 10px 5px;
    font-size: 22px;
    background-color: rgb(230, 230, 230);
}

.link-user > p, .link-adm > p
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
}

.link-user a, .link-adm a
{
    color: black;
    text-decoration: none;
    background-color: rgb(230, 230, 230);
    -webkit-box-shadow: 0px 5px 5px rgb(51, 51, 51);
            box-shadow: 0px 5px 5px rgb(51, 51, 51);
    padding: 5px;
    text-align: center;
}

.link-user a:visited, .link-adm a:visited
{
    color: black;
}

.link-user a:hover, .link-adm a:hover
{
   background-color: rgb(175, 206, 207); 
}

/* Début formulaires Tinymce : Formulaire "ajouter le billet" et formulaire "modifier ou supprimer le billet" (partie administrateur) */

/* Formulaire "ajouter le billet" et formulaire "modifier ou supprimer le billet" */
.form-tiny-mce
{
    margin-top: 25px;
}

/* Formulaire "ajouter le billet" et formulaire "modifier ou supprimer le billet" */
.form-tiny-mce label[for="textarea-titre"], .form-tiny-mce label[for="textarea-contenu"]
{
    font-weight: bold;
    font-size: 17px;
}

/* Formulaire "modifier ou supprimer le billet" */
.form-tiny-mce #label-radio
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

/* Formulaire "modifier ou supprimer le billet" */
.form-tiny-mce #label-radio input
{
    cursor: pointer;
    margin-right: 5px;
}

/* Formulaire "modifier ou supprimer le billet" */
.form-tiny-mce #label-radio label
{
    cursor: pointer;
}

/* Formulaire "modifier ou supprimer le billet" */
.form-tiny-mce #label-radio label + label
{
    padding-left: 10px;
}

/* Formulaire "ajouter le billet" et formulaire "modifier ou supprimer le billet" */
.form-tiny-mce input[type="submit"]
{
    margin-top: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 3px rgb(51, 51, 51);
            box-shadow: 0px 3px 3px rgb(51, 51, 51);
}

/* Formulaire "ajouter le billet" et formulaire "modifier ou supprimer le billet" */
.form-tiny-mce input[type="submit"]:hover
{
background-color: rgb(175, 206, 207)
}

/* Formulaire "ajouter le billet" */
.form-tiny-mce #no-title, .form-tiny-mce #no-content
{
    color: red;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Formulaire "ajouter le billet" */
.form-tiny-mce input[value="Ajouter le billet"]
{
    margin-top: 0;
}
/* Fin formulaires Tinymce : Formulaire "ajouter le billet" et formulaire "modifier ou supprimer le billet" (partie administrateur) */

/* Début Commentaires signalés (partie administrateur)*/
.valid-delete-comment
{
    border: 1px solid rgb(51, 51, 51);
    margin-top: 40px;
    word-wrap: break-word;
    border-bottom: 8px solid rgb(51, 51, 51);
    border-radius: 4px;
}

.valid-delete-comment p
{
    padding-left: 10px;
    padding-right: 10px;
}

.valid-delete-comment p:first-child
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    background-color: rgb(51, 51, 51);
    font-size: 18px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    word-break: break-all;
}

.valid-delete-comment p:first-child strong
{
    padding-right: 10px;
}

.valid-delete-comment p:nth-child(2)
{
    line-height: 22px;
}

.valid-delete-comment p:last-child
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    line-height: 20px;
    font-size: 18px;
        text-align: center;
}

.valid-delete-comment p a:first-child
{
    color: white;
    background-color: rgba(0, 128, 0, 0.8);
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;  
    margin-bottom: 5px;
    border-radius: 4px;
    text-decoration: none;
    min-width: 90px;
}

.valid-delete-comment p:last-child a + a
{
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    min-width: 90px;
}

.valid-delete-comment p a:first-child:hover
{
    background-color: rgb(0, 128, 0);
    text-shadow: 1px 1px 2px black;
}

.valid-delete-comment p:last-child a + a:hover
{
    background-color: rgb(204, 0, 0);
    text-shadow: 1px 1px 2px black;
}
/* Fin Commentaires signalés (partie administrateur) */

/* Début formulaire inscription */
#formulaireInscription div
{
    margin-top: 40px;
}

#formulaireInscription div > p
{
    max-width: 494px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

#formulaireInscription form
{
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    padding: 20px;
    border-top: 8px solid rgb(51, 51, 51);
    border-bottom: 8px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
    border-left: 2px solid rgb(51, 51, 51);
    border-radius: 4px;
 }

#formulaireInscription form p
{
    font-size: 18px;
    margin-bottom: 40px;
}

#formulaireInscription input
{
    width: 100%;
    height: 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(230, 230, 230);
    padding-left: 10px;
}

#formulaireInscription form span
{
    color: red;
}

#formulaireInscription form p:last-child
{
    margin-bottom: 18px;
}

#formulaireInscription input[type="submit"]
{
    cursor: pointer;
    width: 100px;
    border: 1px solid rgb(51, 51, 51);
    -webkit-box-shadow: 0px 3px 3px rgb(51, 51, 51);
            box-shadow: 0px 3px 3px rgb(51, 51, 51);
    border-radius: 4px;
    padding-left: 0;
}

#formulaireInscription input[type="submit"]:hover
{
    background-color: rgb(175, 206, 207);
}
/* Fin formulaire inscription */

/* Début contenu billet (titre et texte) */
.news
{
    margin-top: 40px;
    border-bottom: 1px solid rgb(51, 51, 51);
    -webkit-box-shadow: 0px 2px 5px rgb(51, 51, 51);
            box-shadow: 0px 2px 5px rgb(51, 51, 51);
}

.news h2
{
    border-radius: 4px 4px 0 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 18px;
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    font-size: 20px;
    word-wrap: break-word;
}

.news h2 em
{
    font-size: 14px;
}

.news-contenu
{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    word-wrap: break-word;
}

.news-contenu p
{
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
}

.news-contenu .modif-supp
{
    margin-top: 10px;
}

.news-contenu .modif-supp a
{
    color: white;
    background-color: rgba(0, 102, 255, 0.8);
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.news-contenu .modif-supp a:hover
{
    background-color: rgb(0, 102, 255);
    text-shadow: 1px 1px 2px black;
}

.news-contenu .extrait
{
    color: blue;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 1px solid blue;
}

.news-contenu .extrait:hover
{
    border-bottom: 2px solid rgb(0, 77, 0);
    color: rgb(0, 77, 0);
}
/* Fin contenu billet (titre et texte) */

/* Début Commentaires d'un billet */
#commentaires h3
{
    font-size: 22px;
    margin-top: 25px;
    text-decoration: underline;
}

/* Message : "Il faut être connecté pour ajouter ou signaler un commentaire." */
#commentaires #no-connected
{
    color: red;
}

/* Champ : "Laisser un commentaire" */
#commentaires #add-comment
{
    width: 350px;
    height: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Message : "Le champ commentaire n'est pas rempli." */
#commentaires #no-comment
{
    display: block;
    color: red;
}

#form-add-comment #connect-to-comment
{
    color: white;
    background-color: rgba(0, 128, 0, 0.8);
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

#form-add-comment #connect-to-comment:hover
{
    background-color: rgb(0, 128, 0);
    text-shadow: 1px 1px 2px black;
}

#form-add-comment input[type="submit"]
{
    margin-top: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 3px rgb(51, 51, 51);
            box-shadow: 0px 3px 3px rgb(51, 51, 51);
}

#form-add-comment input[type="submit"]:hover
{
    background-color: rgb(175, 206, 207);
}

.all-comments
{
    background-color: rgb(230, 230, 230);
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 500px;
    border: 1px solid rgb(51, 51, 51);;
    border-radius: 4px;
}

.all-comments > p
{
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}

.all-comments #already-report
{
    color: red;
}

.all-comments > p:first-child
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    background-color: rgb(51, 51, 51);
    color: white;
}

.all-comments > p:first-child strong
{
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.all-comments > p:last-child
{
    margin-bottom: 10px;
}

.all-comments p #to-report
{
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.all-comments p #to-report:hover
{
    background-color: rgb(255, 0, 0);
    text-shadow: 1px 1px 2px black;
}

.all-comments em
{
    font-size: 14px;
}
/* Fin Commentaires d'un billet */
/* Fin $content */

/* Début footer */
footer div
{
    padding: 5px;
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: right;
}

footer div p
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
}
/* Fin footer */

/* Fin body */

/* Début media queries */
/* Début media query max-width: 1500px */
@media all and (max-width: 1500px){
    /* $content */
    .section-one, #formulaireInscription
    {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* Fin media query max-width: 1500px */

/* Début media query max-width: 850px */
@media all and (max-width: 850px){
    
    /*  Début header  */
    #title-container
    {
        width: 80%;
        text-align: left;
        margin: 0;
    }
     
    /* font awesome barres */
    #open-menu
    {
        display: block;
        position: relative;
        top: 50%; 
        right: 0;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    
    /* font awesome croix */
    #close-menu
    {
        position: relative;
        top: 50%; 
        right: 0;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    
    /* Début menu */
    #menu
    {
        display: none;
        position: absolute;
        z-index: 9997;
        background-color: rgb(51, 51, 51);
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        height: inherit;
        top: 50px;
        right: 0;
    }
    
    #menu li
    {
        border-left: inherit;
        border-top: 1px dashed white;
    }
    
    #menu li a
    {
        width: 160px;
    }
    
    #menu li a:hover
    {
        -webkit-box-shadow: inherit;
                box-shadow: inherit;
        color: black;
        background-color: rgb(151, 151, 151);
    }
    /* Fin menu */
    /* Fin header */
    
    /* Début $content */
    .section-one, #formulaireInscription
    {
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .link-user > p, .link-adm > p
    {
        margin-top: 10px;
    }
 
    /* Début formulaire inscription */
    #formulaireInscription div
    {
        margin-top: 20px;
    }
    
    #formulaireInscription form p
    {
        margin-bottom: 0;
    }
    /* Fin formulaire inscription */
    
    /* formulaires Tinymce : Formulaire "ajouter le billet" et formulaire "modifier ou supprimer le billet" (partie administrateur) */
    .form-tiny-mce
    {
        margin-top: 10px;
    }
    
    /* Commentaires signalés (partie administrateur)*/
    .valid-delete-comment
    {
        margin-top: 20px;
    }
    
    /*contenu billet (titre et texte) */
    .news
    {
        margin-top: 20px;
    }
    
    /* Commentaires d'un billet */
    #commentaires h3
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
/* Fin media query max-width: 850px */

/* Début media query max-width: 500px */
@media all and (max-width: 500px){
    
    /* fenêtre se connecter */
    #seConnecter
    {
        width: 80%;
    }
    
    /* Début commentaires signalés (partie administrateur)*/
    .valid-delete-comment p:last-child
    {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        line-height: inherit;
        padding-bottom: 5px;
    }
    /* Fin commentaires signalés (partie administrateur)*/
    
    /* Commentaires d'un billet */
    /* Champ : "Laisser un commentaire" */
    #commentaires #add-comment
    {
        width: 100%;
    }
}
/* Fin media query max-width: 500px */
/* Fin media queries */